<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h2>
    Current Threshold: {{ threshold }} <br>
  </h2>


  <div class="container">
    <iframe width="450" height="260" style="border: 1px solid #cccccc;"
      src="https://thingspeak.com/channels/753425/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>


    <iframe width="450" height="260" style="border: 1px solid #cccccc;"
      src="https://thingspeak.com/channels/753425/charts/2?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>


    <iframe width="450" height="260" style="border: 1px solid #cccccc;"
      src="https://thingspeak.com/channels/753425/charts/3?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>


    <iframe width="450" height="260" style="border: 1px solid #cccccc;"
      src="https://thingspeak.com/channels/753425/charts/4?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>



  </div>
  <form [formGroup]="angForm" novalidate (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Set new Threshold:</label>
      <input formControlName="name" type="number" style="width:150px">
    </div>
    <div
      *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)"
      class="alert alert-danger">
      <div *ngIf="angForm.controls['name'].errors.required">
        New value is required.
      </div>
    </div>
    <button type="submit" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-success">
      Save
    </button>
  </form>
  <br />

</div>
<router-outlet></router-outlet>